@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --big-heading-size: 2.5rem;
  --regular-paragraph-size: 22px;
  --blue: #5762e3;
}

.todoApp-bg {
  height: 100vh;
}

.todo-parent-container {
  margin-top: 2rem;
  background-color: #fafafa;
  width: 50rem; /* temporary - change when working with responsiveness */
}

/* ---------------- Page Header ----------------*/

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header * h3 {
  font-weight: 600;
  padding: 0.8rem 0.5rem;
}

.current-date {
  font-weight: 100;
  font-size: 14px;
  opacity: 0.8;
}

.todo-child-container {
  background-color: rgb(238, 173, 184);
}

.todo-item-header {
  display: flex;
  align-items: center;
}
