@import url("https://fonts.cdnfonts.com/css/source-sans-pro");

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #f8f9fa;
  border-right: 2px solid #cccfe0;
  color: #283132;
}

.sidebarList .row {
  height: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
}

.row #icon {
  margin-left: 25px;
}

.row #title {
  margin-left: 5px;
}
