@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* .sidebarList .row {
  height: 50px;
  display: grid;
  grid-template-columns: 20% 80%;
  color: #a6aaac;
  text-decoration: none;
}

.sidebarList .row:hover {
  cursor: pointer;
  color: #283132;
}

.active {
  color: #283132;
} */

/* This is temporary */
/* .sidebarList .row:nth-child(1) {
  color: #283132;
}

.sidebar .row #icon {
  margin-left: 25px;
}

.sidebar h3 {
  padding: 2rem 0 1.5rem 0;
  margin-left: 25px;
  font-weight: 800;
} */

.sidebarActive {
  background-color: rgba(87, 98, 227, 0.2);
}
