:root {
  --blue: #5762e3;
}

.navbar {
  padding: 2.5vw 9vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
}

.active {
  border-bottom: 2px solid var(--blue);
  color: var(--blue);
}

.sign-in-button {
  height: 50px;
  width: 150px;
  border: 2px solid var(--blue);
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sign-in-button:hover {
  background-color: var(--blue);
  color: #fff;
}
